<!DOCTYPE html>
<html>
<head>
    ${include "layout/header.html" .}
</head>

${include "layout/nav.html" .}
<div class="main-content" style="min-height: 490px;">
    <section class="section">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="card-stats">
                        <div class="card-stats-title text-center">订单统计</div>
                        <div class="card-stats-items">
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">24</div>
                                <div class="card-stats-item-label">今天</div>
                            </div>
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">12</div>
                                <div class="card-stats-item-label">昨天</div>
                            </div>
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">23</div>
                                <div class="card-stats-item-label">本月</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-icon shadow-primary bg-primary">
                        <i class="fas fa-archive"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>总订单数量</h4>
                        </div>
                        <div class="card-body">
                            59
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="card-stats">
                        <div class="card-stats-title text-center">金额统计</div>
                        <div class="card-stats-items">
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">24</div>
                                <div class="card-stats-item-label">今天</div>
                            </div>
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">12</div>
                                <div class="card-stats-item-label">昨天</div>
                            </div>
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">23</div>
                                <div class="card-stats-item-label">本月</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-icon shadow-primary bg-primary">
                        <i class="fas fa-dollar-sign"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>总订单金额</h4>
                        </div>
                        <div class="card-body">
                            59
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card card-statistic-2">
                    <div class="card-stats">
                        <div class="card-stats-title text-center">书籍统计</div>
                        <div class="card-stats-items">
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">24</div>
                                <div class="card-stats-item-label">今天</div>
                            </div>
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">12</div>
                                <div class="card-stats-item-label">昨天</div>
                            </div>
                            <div class="card-stats-item">
                                <div class="card-stats-item-count">23</div>
                                <div class="card-stats-item-label">本月</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-icon shadow-primary bg-primary">
                        <i class="fas fa-book"></i>
                    </div>
                    <div class="card-wrap">
                        <div class="card-header">
                            <h4>总书籍数量</h4>
                        </div>
                        <div class="card-body">
                            59
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>分日总数据</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped table-md">
                                <tbody>
                                <tr>
                                    <th>日期</th>
                                    <th>充值金额</th>
                                    <th>充值笔数</th>
                                    <th>累计订单</th>
                                    <th>累计充值</th>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>
                                <tr>
                                    <td>2019-11-08</td>
                                    <td>120900</td>
                                    <td>2000</td>
                                    <td>200121</td>
                                    <td>11120900</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <nav class="d-inline-block">
                            <ul class="pagination mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1 <span
                                                class="sr-only">(current)</span></a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item"><a class="page-link" href="#">···</a></li>
                                <li class="page-item"><a class="page-link" href="#">17980</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
${include "layout/footer.html" .}
<script type="text/javascript">
</script>
</body>
</html>